<a href="https://colab.research.google.com/github/KirteshVerma/Python-Practice/blob/main/Python_Practice_Questions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Prime Number**

In [ ]:
# Python programm to display all the prime numbers withing an interval

lower = 2
upper = 88

for i in range(lower, upper):
  if i>1:
    for j in range(2,i):
      if i%j ==0:
        break
    else:
      print(i, end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83

In [ ]:
# to print the total numbers of prime number within a range
lower = int(input())
upper = int(input())
listt = []

for i in range(lower, upper):
  if i>1:
    for j in range(2,i):
      if i%j ==0:
        break
    else:
      listt.append(i)
print('The total number of prime number that exist between the given range are:',len(listt))

2
22
The total number of prime number that exist between the given range are:  8

In [ ]:
# programm to tell whether the number is prime or not

a = 234

if a > 1:
  for i in range(2,a):
    if a%i==0:
      print('{} is not a Prime Number'.format(a))
      break
    else:
      print('{a} is a Prime Number'.format(a))
else:
  print('{} is not a Prime number'.format(a))

234 is not a Prime Number

## **Factorial**

In [ ]:
# print the factorial of a number
num = 5
factorial = 1

if num<0:
  print('factorial of negative number is not defined')

elif num==0:
  print('factorial of 0 is 1')

else:

  for i in range(1,num+1):
    factorial = factorial*i
print(f'The factorial of {num} is {factorial}')

The factorial of 5 is 120

In [ ]:
# Printing the factorial of the number using recursive method
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))

print(factorial(4))

24

## **Character Count**

In [ ]:
a = 'google.com'
d = {}
for i in a: 
  if i in d:
    d[i] = d[i]+1
  else:
    d[i]=1
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

## **Reversed Number**

In [ ]:
# Reversed Number

#using str 
a= 2398

b = int(str(a)[::-1])
print(b)

8932

## **Reverse text in a String**

In [5]:
# reversing the words in a string
text = 'I love coding and want to get better at it!'

a = text.split()
a = a[::-1]
print(a)
l = []
for i in a:
  l.append(i)
print(" ".join(l))

# for i in a:

['it!', 'at', 'better', 'get', 'to', 'want', 'and', 'coding', 'love', 'I']
it! at better get to want and coding love I

In [ ]:
# reversing each letter of the word in the string

In [ ]:
# using while 

a = 2398
reversed_number = 0

while a>0:
  digit = a%10 
  reversed_number = reversed_number*10 + digit
  a = a//10

print(sum)

8932

## **Armstrong Number**

In [ ]:
# write a code which tells whether a number is an armstrong number or not

a = 153
tff = 0
num_len = len(str(a))
a_copy  = a

while a>0:
  digit = a%10
  tff = digit**num_len+ tff
  a = a//10

if a_copy == tff:
  print('The number {} is an Amrstrong Number'.format(a_copy))

else:
  print('The given number {} is not an Armstrong Number'.format(a_copy))

The number 153 is an Amrstrong Number

## Most Frequent Element

In [ ]:
# printing the element within the list with max frequency
List = [23,2342,1,32,23,21,11,12,1,1,1,12,3,432,5,3,34,435,66,2323,1]
counter = 0
for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
print(f'The element occuring maximum time is {num} and its at index {List.index(num)}')

The element occuring maximum time is 1 and its at index 2

In [ ]:
# Couring the occurence of each element in a list
List2 = [23,2342,1,32,23,21,11,12,1,1,1,12,3,432,5,3,34,435,66,2323,1]

dictionary = {}
for i in List2:
  if i in dictionary: 
    dictionary[i] +=1
  else:
    dictionary[i] = 1
print(dictionary)

{23: 2, 2342: 1, 1: 5, 32: 1, 21: 1, 11: 1, 12: 2, 3: 2, 432: 1, 5: 1, 34: 1, 435: 1, 66: 1, 2323: 1}

## Average

In [ ]:
# printing the averge of the numbers 
n = int(input('Enter the number of elements to take average of: '))

l = []
sum = 0

for i in range(1,n+1):
  k = int(input('Enter the number: '))
  l.append(k)
  
for i in l:
  sum = i+ sum
avg = sum / n
print(f'The average of the numbers is ', avg)

Enter the number of elements to take average of: 3
Enter the number: 1
Enter the number: 10
Enter the number: 100
The average of the numbers is  37.0

## Mode

## **Fibonacci Series**

In [ ]:
# print the function which returns the fibonacci series
def fibonacci(n):
    a = 0
    b = 1
     
    # Check is n is less
    # than 0
    if n < 0:
        print("Incorrect input")
         
    # Check is n is equal
    # to 0
    elif n == 0:
        return 0
       
    # Check if n is equal to 1
    elif n == 1:
        return b
    else:
        for i in range(1, n):
            c = a + b
            a = b
            b = c
        return b

print(fibonacci(8))

21

In [ ]:
# print fibonacci series upto a number
num = 12
a = 0
b = 1
print('fib series:', a, b ,end = ' ')

for i in range(2, num):
  c = a+b
  a = b
  b = c
  print(c, end = ' ')
print()

fib series: 0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
# recrusive method
def fibonacciSeries(i):
  if i <= 1:
    return i
  else:
    return (fibonacciSeries(i - 1) + fibonacciSeries(i - 2))